@using BookingAppStore.Models;
@*@model IEnumerable<BookingAppStore.Models.Book>*@
@model IEnumerable<Book>
@{
    ViewBag.Title = "Книжный магазин";
}
<div>
    <h3>Распродажа книг</h3>
    <table class="table table-striped">
        <tr>
            <th><p>Название книги</p></th>
            <th><p>Автор</p></th>
            <th><p>Цена</p></th>
            <th></th>
        </tr>
        @*@foreach (var b in ViewBag.Books)*@
        @foreach (Book b in Model)
        {
            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.Author</p></td>
                <td><p>@b.Price</p></td>                
                <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
            </tr>
        }
    </table>
    @Html.ActionLink("BookIndex - auto generated view", "BookIndex", "Home")
</div>

@* Передается название частичного представления *@
@Html.Partial("_GetList", new string[] { "Russia", "China"})
@* Еще один способ генерации частичного представления - работает немного быстрее *@
@*@{ Html.RenderPartial("_GetList"); }*@

@* Такой вызов обращается к методу контролера _GetList *@
@Html.Action("_GetList")

@helper BookList(IEnumerable<Book> books) { 
    <ul>
        @foreach (Book b in books)
        {
            <li>@b.Name</li>
        }
    </ul>
}

<h3>Список книг (helper):</h3>
@BookList(Model)

@helper CreateList(string[] all)
{
    <ul>
        @foreach (string s in all)
        {
            <li>@s</li>
        }
    </ul>
}
@{ 
    string[] cities = new string[] { "London", "Paris", "Berlin" };
    string[] countries = new string[] { "England", "France", "German" };
}
<h3>Города</h3>
@CreateList(cities)
<h3>Страны</h3>
@CreateList(countries)

<h3>Города (helper - метод расширения)</h3>
@using BookingAppStore.Helpers
@Html.CreateListExt(cities)
<h3>Страны (helper - метод расширения)</h3>
@ListHelper.CreateListExt(Html, countries)

@section Footer {
    <h5>Все права защищены. Magic Soft Inc. 2017.</h5>
}
